tmp
node_modules
bin
Gemfile.lock
log
yarn.lock
*.enc
*.key
*.png
*.jpg
*.ico
*.txt
# Ignore JS source maps
*.map
# TODO: can prettier format erb?
*.erb

# JS build files
public/packs

# dot files
.browserslistrc
.gitattributes
.gitignore
.prettierignore
.keep
.ruby-version

# Editor configs
.idea
.editorconfig
modime.iml
